header{
    background-color: #2e89ff;
    padding: 5px;
    display:flex;
    justify-content: space-between;
    position: relative;
    color:#ffffff;
    h1{
        margin:5px;
    }
    h3{
        margin:0;
        padding:0;
        color: #ffffff;
    }
    a{
        text-decoration: none;
    }
    .buttons{
        align-self: center ;
    }
}