body{
    margin:0;
    text-align: left;
}
section{
    font-family: sans-serif;
}
footer{
    background-color: #2e89ff;
    width: 99.25vw;
    padding: 5px;
    position: absolute;
    bottom: 0;
    overflow:hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
}