<header>
    <link rel="stylesheet" type="text/css" href="/css/_header.css">
    <%if(locals.user){%>
       <a href="/users/profile" id="user_name"><h3><%=user.name%></h3></a>
        <a href="/users/destroy-session" id="logout_btn"><button>Log Out</button></a>
    <%} else {%>
        <div class="buttons">
        <a href="/users/sign-in"><button>Sign In</button></a>
        <a href="/users/sign-up"><button>Sign Up</button></a>
        </div>
    <%}%>
    <h1>Codial</h1>
</header>