<!DOCTYPE html>
<head>
    <title><%=title%></title>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/css/user_profile.css">
    <h1>Profile Page</h1>
    <h2><%=user.name%></h2>
    <h3><%=user.phone%></h3>
</body>
</html>