<body>

    <h1><%= title %></h1>
    <form action="/users/create-session-passport" method="post">
        <input type="email" name="email" placeholder="Enter the email id" required>
        <input type="password" name="password" placeholder="Enter the password" required>
        <input type="submit" placeholder="Sign In">
    </form>
</body>