header {
  background-color: #2e89ff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;
  color: #ffffff; }
  header h1 {
    margin: 5px; }
  header h3 {
    margin: 0;
    padding: 0;
    color: #ffffff; }
  header a {
    text-decoration: none; }
  header .buttons {
    align-self: center; }
